name: Django CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      # Satisfies "Owned by Awa91" and "Pinned to SHA"
      - name: Checkout Code
        uses: Awa91/checkout@1ad633039ab99ed71094008522934368ce2a2e66

      # You MUST fork this too, or the policy will block the "actions/" version
      - name: Set up Python
        uses: Awa91/setup-python@3e8918d60aa430a09b337139783a216027ad6703
        with:
          python-version: '3.12'

      - name: Verify Environment
        run: python env_check.py

      - name: Deploy to PythonAnywhere
        run: |
          curl -H "Authorization: Token ${{ secrets.PA_API_TOKEN }}" \
               -X POST "https://www.pythonanywhere.com/api/v0/user/${{ secrets.PA_USERNAME }}/consoles/" \
               -d "executable=cd ~/repos/inv-app-backend && git pull"
          
          curl -H "Authorization: Token ${{ secrets.PA_API_TOKEN }}" \
               -X POST "https://www.pythonanywhere.com/api/v0/user/${{ secrets.PA_USERNAME }}/consoles/" \
               -d "executable=workon my-env && cd ~/repos/inv-app-backend && python manage.py migrate && python manage.py collectstatic --noinput"

      - name: Reload Webapp
        run: |
          curl -H "Authorization: Token ${{ secrets.PA_API_TOKEN }}" \
               -X POST "https://www.pythonanywhere.com/api/v0/user/${{ secrets.PA_USERNAME }}/webapps/${{ secrets.PA_DOMAIN }}/reload/"
